doctype html
html(lang="en")
    head
        title Project management - #{title}
        link(rel="stylesheet" href="/css/board.css")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link( rel="icon" type="image/png" href="/img/Management-logos_transparent.png")
        link( rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" )

    body
        .container-body
            include _menu
            .container-base
                include _header
                .board-container 
                    .containerboard
                        .review 
                            h3 Review
                            .add-task 
                                span.material-symbols-outlined add
                            .column#Review
                                each task in review
                                    .container-completed(draggable= "true" id=task.id)
                                        h4= task.name
                                        p= task.description
                                        div
                                            h5(class=`${task.difficult}`)= task.difficult
                                            h5= task.dueDate ? `${task.dueDate.toString().slice(0,10).split(" ")[1]} ${task.dueDate.getDate() + 1}` : ""
                        .progress 
                            h3 Progress
                            .column#Progress
                                each task in progress
                                    .container-completed(draggable= "true" id=task.id) 
                                        h4= task.name
                                        p= task.description
                                        div
                                            h5(class=`${task.difficult}`)= task.difficult
                                            h5= task.dueDate ? `${task.dueDate.toString().slice(0,10).split(" ")[1]} ${task.dueDate.getDate() + 1}` : ""
                        .completed
                            h3 Completed
                            .column#Completed
                                each task in completed
                                    .container-completed(draggable= "true" id=task.id) 
                                        h4= task.name
                                        p= task.description
                                        div
                                            h5(class=`${task.difficult}`)= task.difficult
                                            h5= task.dueDate ? `${task.dueDate.toString().slice(0,10).split(" ")[1]} ${task.dueDate.getDate() + 1}` : ""
                        .deferred
                            h3 Deferred
                            .column#Deferred
                                each task in deferred
                                    .container-completed(draggable= "true" id=task.id) 
                                        h4= task.name
                                        p= task.description
                                        div
                                            h5(class=`${task.difficult}`)= task.difficult
                                            h5= task.dueDate ? `${task.dueDate.toString().slice(0,10).split(" ")[1]} ${task.dueDate.getDate() + 1}` : ""
                div.information
                    div.taskInformation
                        div.background
                        div.maininfoContainer
                            div.lds-ring
                                div
                                div 
                                div 
                                div
        script(src="/js/bundle.js")

