doctype html
html(lang="en")
    head
        title Project management - #{title}
        link(rel="stylesheet" href="/css/project.css")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link( rel="icon" type="image/png" href="/img/Management-logos_transparent.png")
        link( rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" )

    body
        .container-body
            .container-base
                include _header
                .projects
                    h2.title= name
                    .container-information 
                        .tasks-container 
                            span.material-symbols-outlined format_align_justify
                            h4 All tasks
                            h3= allTask
                        .tasks-container 
                            span.material-symbols-outlined.orange playlist_add_check
                            h4 Tasks completed
                            h3= completed.length
                        .tasks-container 
                            span.material-symbols-outlined.blue work
                            h4 Tasks in progress
                            h3= progress.length
                        .tasks-container 
                            span.material-symbols-outlined.yellow work_history                
                            h4 Tasks in review
                            h3= review.length
                        .completed-container
                            h4 Tasks Completed
                            .table-container
                                table 
                                    tr 
                                        th.name  Name 
                                        th Due Date
                                        th Difficult
                                        th  Status
                                        
                                    tr 
                                    each task in completed
                                        tr 
                                            td.name= task.name
                                            td= task.dueDate ? `${task.dueDate.toString().slice(0,10).split(" ")[1]} ${task.dueDate.getDate() + 1}` : ""
                                            td(class=`${task.difficult}`)= task.difficult
                                            td(class=`${task.status}`)=task.status
                                        tr 
                                table
                        .overall-container
                            h4 Overall Progress
                            .graphic
                                .graphicContainer(style=`background: conic-gradient(rgba(26, 147, 46, 0.8) 0% ${(completed.length / allTask) * 100}%,#70a1e5 ${(completed.length / allTask) * 100}% ${((completed.length / allTask) * 100 ) + ((progress.length / allTask) * 100)}%,#f0c274 ${((completed.length/ allTask)*100 )+ ((progress.length/allTask)* 100)}% ${(completed.length/allTask)*100 + (progress.length/allTask)*100 + (review.length/allTask) *100}%,#ee201c ${(completed.length/allTask)*100 + (progress.length/allTask)*100 + (review.length/allTask) *100}% 100%)`)
                            span.porcentage= `${((completed.length/ allTask)*100 || 0).toFixed(0)}%`
        script(src="/js/bundle.js")