doctype html
html(lang="en")
    head
        title Project management - #{title}
        link(rel="stylesheet" href="/css/projectSettings.css")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link( rel="icon" type="image/png" href="/img/Management-logos_transparent.png")
        link( rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" )

    body
        .container-body
            .container-base
                include _header
                .settingsProject-container 
                    h2 update data
                    form.projectChange
                        label(for="name") Name
                        label(For="description") Description
                        input(type="text" name="name" id="name" value=project.name required)
                        input(type="text" name="description" id="description" value=project.description)
                        button.update update
                    .members-container
                        h2 members
                        .containerMembers
                            each person in project.members
                                .member-container
                                    span.material-symbols-outlined.person person
                                    h4= person.name
                                    h4=person.email
                                    button(id=person.id).deleteUser Remove
                    .container-button
                        form.newMember
                            label.new(For="email") Add new member
                            input.new(type="email" name="members" id="email" placeholder="Email")
                            button.update update
                        button.deleteProject Delete Project
                .containerDelete
                    .deleteBackground 
                    .deleteContainer 
                        h3 Are you sure you want to delete?
                        button.yes yes
                        button.no no
        script(src="/js/bundle.js")